html,
body,
div,
span,
h2,
h4,
h6,
form,
label {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.form {
    width: 600px;
    padding: 15px;
    position: relative;
}

.form::before {
    content: url(Vector.svg);
    position: absolute;
    width: 25px;
    height: 25px;
    right: 69px;
    top: 53px;
}

.form__wrapper {
    padding: 0 107px;
}

.form__title {
    padding-top: 129px;
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: 600;
}

input {
    display: block;
    width: 385px;
    height: 50px;
    border: 1px solid #BDBDBD;
    border-radius: 83px;
    padding-left: 10px;
}

input:not(:last-child) {
    margin-bottom: 24px;
}

::placeholder {
    font-size: 14px;
    color: #BDBDBD;
    padding-left: 32px;
}

.form__subscribe {
    margin-top: 8px;
    font-size: 12px;
    color: #424242;
}

.form__line {
    width: 385px;
    border-bottom: 1px solid #BDBDBD;
}

.button__registr {
    width: 295px;
    height: 50px;
    font-family: 'Spectral SC', serif;
    font-size: 16px;
    margin: 40px 0 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
    border-radius: 49px;
    border: none;
    text-transform: uppercase;
}

.form__content {
    display: flex;
    justify-content: space-around;
}

.form__subtitle {
    color: #424242;
    font-size: 14px;
    margin-top: 55px;
}

.button__entrance {
    width: 152px;
    height: 50px;
    text-transform: uppercase;
    border: 1px solid #BDBDBD;
    border-radius: 49px;
    background-color: transparent;
    color: #BDBDBD;
    font-family: 'Spectral SC', serif;
    font-size: 16px;
    margin-top: 40px;
}