*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h3 {
    margin: 0;
}

.wrapper {
    padding: 15px;
}

.form {
    width: 300px;
    letter-spacing: 0.04em;
    font-family: 'Montserrat', sans-serif;
    background: #FBF7F6;
    border-radius: 15px;
    padding-top: 30px;
    padding-left: 16px;
}

.form__item {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
}

span {
    font-size: 13px;
    color: #C4C4C4;
}

input[type="checkbox"] {
    background: #F9F0EE;
    border: 1px solid #C4C4C4;
    width: 20px;
    height: 20px;
}

label {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
}

.line {
    width: 280px;
    border: 1px solid #EFEFEF;
}

.button {
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 176, 186, 1);
    border-radius: 10px;
    color: rgba(255, 176, 186, 1);
    background-color: transparent;
    flex: 1 1 auto;
    margin: 5px;
    font-size: 12px;
    font-weight: 700;
}

.tags__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 5px;
}